@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body {
	background-color: #ffffff;
}

h1 {
	font-size: 35px;
	line-height: 45px;
	color: #333333;
	font-weight: 800;
}

h2 {
	font-size: 31px;
	line-height: 39px;
	color: #333333;
	font-weight: 800;
}

h3 {
	font-size: 18px;
	line-height: 32px;
	color: #333333;
	font-weight: 800;
}

body p, li {
	font-size: 17px;
	line-height: 26px;
	color: #333333;
	font-weight: 400;
}