---
import MainLayout from "../layouts/MainLayout.astro";

const { slug } = Astro.params;

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.

let data = await fetch("https://skyhighrecruitment.com/wp-json/wp/v2/posts");
let posts = await data.json();

posts.map((post) => ({
	params: { slug: post.slug },
}));

const gqlq = {
		query: `{
			post(id: "${slug}", idType: SLUG) {
				databaseId
				content
				slug
				title
				uri
				blog {
				heroAfbeeldinghero {
					sourceUrl
				}
				}
			}
		}`,
	};

	const response = await fetch("https://skyhighrecruitment.com/graphql", {
		method: "POST",
		headers: {
			"Content-Type": "application/json",
		},
		body: JSON.stringify(gqlq),
	});

	const pos = await response.json();
	console.log(pos.data.post);

// let res = await fetch(
// 	`https://skyhighrecruitment.com/wp-json/wp/v2/posts?slug=${slug}&acf_format=standard`
// );
// let [dataa] = await res.json();
---



<MainLayout title="test">
	<h1>hoi</h1>
	<div class="hero-container">
		<img src={pos.data.post.blog.heroAfbeeldinghero.sourceUrl} alt="" />
	</div>

	<span set:html={pos.data.post.content} />
</MainLayout>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.hero-container img {
		width: 100%;
	}
</style>
