---

import MainLayout from "../layouts/MainLayout.astro";

// export async function getStaticPaths() {
// 	const response = await fetch(
// 		"https://skyhighrecruitment.com/wp-json/wp/v2/posts?acf_format=standard"
// 	);
// 	const posts = await response.json();
// 	return posts.map((post) => ({
// 		params: {
// 			slug: post.slug,
// 		},
// 		props: {
// 			post,
// 		},
// 	}));
// }




const { slug } = Astro.params;

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.

let data = await fetch("https://skyhighrecruitment.com/wp-json/wp/v2/posts")
let posts = await data.json();

  posts.map((post) => ({
    params: { slug: post.slug },
  }));

let res = await fetch(`https://skyhighrecruitment.com/wp-json/wp/v2/posts?slug=${slug}&acf_format=standard`)
let [dataa] = await res.json();

---

<!-- <script>
	let res = await fetch(`https://skyhighrecruitment.com/wp-json/wp/v2/posts?slug=de-kunst-van-het-schrijven-van-een-overtuigend-cv&acf_format=standard`)
let [dataa] = await res.json();
console.log(dataa)
</script> -->

<MainLayout title="test">
	<h1>hoi</h1>
	<div class="hero-container">
		<img src={dataa.acf.hero_afbeeldingHero} alt="" />
	</div>



	<span set:html={dataa.content.rendered} /> 
</MainLayout>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.hero-container img {
		width: 100%;
	}
</style>
