---
import MainLayout from "../layouts/MainLayout.astro";

const { slug } = Astro.params;

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.

	const gqlq = {
			query: `{
				post(id: "${slug}", idType: SLUG) {
					content
					slug	
					blog {
						heroAfbeeldinghero {
							sourceUrl
						}
					}
				}
			}`,
		};

	const response = await fetch("https://skyhighrecruitment.com/graphql", {
		method: "POST",
		headers: {
			"Content-Type": "application/json",
		},
		body: JSON.stringify(gqlq),
	});

	const pos = await response.json();
	console.log(pos.data.post);

---
<!-- <script>
		const gqlq = {
			query: `{
				post(id: "http://localhost:4321/gebruik-chatgpt-voor-een-opvallende-sollicitatie", idType: SLUG) {
					content
					slug	
					blog {
						heroAfbeeldinghero {
							sourceUrl
						}
					}
				}
			}`,
		};

	const response = await fetch("https://cvking.brooklynwebdesign.nl/graphql", {
		method: "POST",
		headers: {
			"Content-Type": "application/json",
		},
		body: JSON.stringify(gqlq),
	});

	const pos = await response.json();
	console.log(pos.data.post.blog.heroAfbeeldinghero.sourceUrl);
</script> -->


<MainLayout title="test">
	<div class="hero-container">
		<img src={ pos.data.post.blog.heroAfbeeldinghero.sourceUrl } alt="" />
	</div>

	<span set:html={ pos.data.post.content } />
</MainLayout>

<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.hero-container img {
		width: 100%;
	}
</style>

