---

import MainLayout from "../layouts/MainLayout.astro";
const gqlq = {
		query: `{
            posts {
    pageInfo {
      endCursor
      hasNextPage
    }
    nodes {
      blog {
        heroAfbeeldinghero {
          sourceUrl
        }
      }
      slug
      title
    }
  }
        }`,
	};

	const response = await fetch("https://skyhighrecruitment.com/graphql",
    {
		method: "POST",
		headers: {
			"Content-Type": "application/json",
		},
		body: JSON.stringify(gqlq),
	});

    const posts = await response.json();

---

<MainLayout title="test">
	<h1>hi from blogg</h1>
    <ul>
		{
			posts.data.posts.nodes.map((post) => (
				<a href={post.slug}>
					<li>
						<div class="img-container">
                            {
								<img
									src={post.blog.heroAfbeeldinghero.sourceUrl}
									alt=""
								/>
							}
							{post.title}
						</div>
					</li>
				</a>
               
			))
		}
	</ul>

</MainLayout>

<style>
	ul {
		max-width: 1000px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin: 0 auto;
	}
	li {
		display: flex;
		flex-direction: column;
		max-width: 400px;
		margin-bottom: 20px;
	}
	.img-container{
		max-width: 400px;
		height: 266px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>


<script>
	const gqlq = {
		query: `{
            posts {
            nodes {
            featuredImage {
                node {
                    sourceUrl
                }
            }
            title
            slug
            }
           }
        }
            `,
	};

	const response = await fetch("https://skyhighrecruitment.com/graphql?limit=2",
    {
		method: "POST",
		headers: {
			"Content-Type": "application/json",
		},
		body: JSON.stringify(gqlq),
	});

    const posts = await response.json();
    console.log(posts.data.posts.nodes
)
</script>


