---
import MainLayout from "../layouts/MainLayout.astro";
export const prerender = true;
const gqlq = {
	query: `{
		posts {
    nodes {
      slug
      title
      featuredImage {
        node {
          sourceUrl
        }
      }
    }
  }
		}`,
};

const response = await fetch("https://cvking.brooklynwebdesign.nl/graphql", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify(gqlq),
});

const posts = await response.json();
---

<script>
	const gqlq = {
	query: `{
		posts {
    nodes {
      slug
      title
      featuredImage {
        node {
          sourceUrl
        }
      }
    }
  }
		}`,
};

const response = await fetch("https://cvking.brooklynwebdesign.nl/graphql", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify(gqlq),
});

const posts = await response.json();

</script>

<MainLayout title="test">
	<section id="blog">
		<ul>
			{
				posts.data.posts.nodes.map((post) => (
					<a href={post.slug}>
						<li>
							<div class="img-container">
								{
									<img
										src={
											post.featuredImage.node.sourceUrl
										}
										alt=""
									/>
								}
								{post.title}
							</div>
						</li>
					</a>
				))
			}
		</ul>
	</section>
</MainLayout>

<style>
	#blog{
		margin-top: 50px;
	}
	ul {
		max-width: 1000px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		margin: 0 auto;
	}
	li {
		display: flex;
		flex-direction: column;
		max-width: 400px;
		margin-bottom: 20px;
	}
	.img-container {
		max-width: 400px;
		height: 266px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>

<!-- <script>
	const gqlq = {
		query: `{
            posts {
            nodes {
            featuredImage {
                node {
                    sourceUrl
                }
            }
            title
            slug
            }
           }
        }
            `,
	};

	const response = await fetch(
		"https://skyhighrecruitment.com/graphql?limit=2",
		{
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(gqlq),
		}
	);

	const posts = await response.json();
	console.log(posts.data.posts.nodes);
</script> -->
