---
import MainLayout from "../layouts/MainLayout.astro";

const gqlq = {
	query: `{
		posts {
    nodes {
      slug
      title
	  excerpt
      featuredImage {
        node {
          sourceUrl
        }
      }
    }
  }
		}`,
};

const response = await fetch("https://cvking.brooklynwebdesign.nl/graphql", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify(gqlq),
});

const posts = await response.json();
---

<!-- <script>
	const gqlq = {
		query: `{
		posts {
    nodes {
      slug
	  excerpt
      title
      featuredImage {
        node {
          sourceUrl
        }
      }
    }
  }
		}`,
	};

	const response = await fetch(
		"https://cvking.brooklynwebdesign.nl/graphql",
		{
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(gqlq),
		}
	);

	const posts = await response.json();
	console.log(posts)
</script> -->
<MainLayout title="test">
	<section id="hero">
		<!-- <img src="/0x0.png" transition:name="image-e" alt=""> -->
		<h1>BLOG</h1>
	</section>
	<section id="blog">
		<ul>
			{
				posts.data.posts.nodes.map((post) => (
					<a href={post.slug}>
						<li>
							<div class="img-container">
								{
									<img
										src={
											post
												.featuredImage
												.node
												.sourceUrl
										}
										alt=""
									/>
								}
							</div>
							<div
								set:html={
									post.title
								}
								class="title-container"
							/>
							<div
								set:html={
									post.excerpt
								}
								class="content-container"
							/>
						</li>
					</a>
				))
			}
		</ul>
	</section>
</MainLayout>

<style>
	/* #hero{
		text-align: center;
	}
	#hero img{
		width: 400px;
	} */
	ul {
		max-width: 1100px;
		margin: 50px auto 100px;
		display: flex;

		gap: 20px;
	}
	li {
		display: flex;
		border-radius: 20px;
		flex-direction: column;
		margin-bottom: 20px;
		max-width: 353px;
		box-shadow: 3px 0px 12px 2px rgba(0, 0, 0, 0.23);
		background-color: #fff;
		overflow: hidden;
	}

	li p {
		padding: 24px;
	}
	.img-container {
		width: 100%;
		height: 266px;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	a {
		text-decoration: none;
		color:;
	}

	.title-container {
		font-weight: 800;
		margin: 10px;
	}
	.content-container {
		margin: 10px;
	}

	@media only screen and (max-width: 720px) {
		h1{
			text-align: center;
		}
		ul {
			max-width: 1100px;
			width: 100%;
			margin: 20px auto 50px;
			display: flex;
			flex-direction: column;

			gap: 20px;
		}
		li {
			
		
			text-align: center;
			margin: 20px auto;
			max-width: 90%;
			box-shadow: 3px 0px 12px 2px rgba(0, 0, 0, 0.23);
			background-color: #fff;
			overflow: hidden;
		}
	}
</style>

<!-- <script>
	const gqlq = {
		query: `{
            posts {
            nodes {
            featuredImage {
                node {
                    sourceUrl
                }
            }
            title
            slug
            }
           }
        }
            `,
	};

	const response = await fetch(
		"https://skyhighrecruitment.com/graphql?limit=2",
		{
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(gqlq),
		}
	);

	const posts = await response.json();
	console.log(posts.data.posts.nodes);
</script> -->
