---

---

<footer id="footer">
	<img src="/Logo-footer.png" alt="" />
	<p id="date">
		<small>
			Copyright &copy
			<script type="text/javascript">
				document.write(new Date().getFullYear());
			</script> CV KING Communications Inc. All rights
			reserved.
		</small>
	</p>
</footer>

<style>
	#footer {
		background-color: #1d1d1d;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100px;
	}

	img {
		max-width: 100px;
	}

	#date {
		color: #fff;
	}
</style>
